body{
    background-color: #66FF00;
}
h1{
    text-align: center;
    color: green;

}
form{
    background-color: lightseagreen;
    margin-left: 30%;
    margin-right: 30%;
    padding: 30px;
    border-radius: 50px;

}
button{
    color:red;
    width: 30%;
    border-radius : 80Px;
}
input[type=text],input[type=number],input[type=email],
input[type=Password],input[type=Confirm-Password]
{
     background-color: #B0BF1A;
    padding: 10px;
    width:50%;
    border-radius: 20px;
}